fastapi
uvicorn[standard]
python-multipart
scapy
netaddr
mac-vendor-lookup
rich
ipwhois
requests
getmac
python-dotenv
python-json-logger
pymodbus==2.5.3
opcua
paho-mqtt
python-nmap
asyncua
firebase-admin
google-cloud-firestore
packaging
transformers
tensorflow
numpy